body{
  height: 100vh;
  margin: 0;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  flex: 1;
}
