.menuRight{
    position: absolute;
    top: 10%;
    right: 0;
    background-color: aliceblue;
    z-index: 100;
    border-radius: 10%;
}
.listItem{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.listImage{
    height: 50px;
    margin-right: 20px;
}
.listText{
    font-size: 30px;
}